/* Variables de estilos de CSS */

:root{
    --primary: #42b983;
    --secondary: #2e4469;
    --background: #35495e;
    --black-text: rgb(61,61,61);
    --white-text: #ffffff;
    --button-hover: #38755a;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    
    /* Alinear los elemntos en horizontal */
    display: flex; 

    /* Agregar espacio entre ellos */
    justify-content: space-around; 

    /* Alinear los elementos al centro en forma vertical */
}

header h1 {
    color: var(--white-text);
    letter-spacing: .7em;
    font-size: 2rem;
}

nav ul {
    /* Alinear los elemntos en horizontal */
    display: flex;
}

nav ul li {
    border-right: solid .1rem rgba(61, 61, 61, 0.41);
}

/* Seleccionar el ultimo elemento li */
nav ul li:last-child {
    border-right: none;    
}

nav ul li a {
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}
